*{
	/* Colorscheme */
	background-alt:					#806e69;
	background:						#3a231d;
	foreground:						#cdc8c6;
	selected:						#879647;
	active:							#879647;
	urgent:							#a6a451;
	alert:							#a97b4e;
	disabled:						#a49c9a;
}

