*{
	/* Colorscheme */
	background-alt:					#5d7165;
	background:						#0d2015;
	foreground:						#c2c7c4;
	selected:						#66B073;
	active:							#66B073;
	urgent:							#8FA86F;
	alert:							#689F68;
	disabled:						#909b94;
}

