*{
	/* Colorscheme */
	background-alt:					#6c7084;
	background:						#1f2643;
	foreground:						#c7c8d0;
	selected:						#8e7d84;
	active:							#8e7d84;
	urgent:							#b17a84;
	alert:							#51a072;
	disabled:						#9d9fa6;
}

